{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<title> Forest Fire Solution | MIRA</title>

{% endblock %}

{% block body %}




<main role="main">



<div class="carousel-item active position-relative p-3 p-md-5 m-md-auto text-center bg-light">
  <img src="/static/img/forest-bg.png" class="p-lg-4 mx-auto my-3" alt="...">
  <div class="col-md-8 p-lg-5 mx-auto my-3">
    <h1 class="display-4 font-weight-normal">Fighting forest fires and developing a sustainable territory </h1>
    <p class="lead font-weight-normal">State-of-the-art technology &#183 Safety &#183 Security &#183 Follow-up. </p>
    <a class="btn btn-lg btn-outline-secondary" href="#first">Discover MIRA</a>
  </div>
</div>




  <div class="container marketing">
    <div id="first" class="row featurette ">
      <div class="col-md-9">
        <h2 class="featurette-heading"> Forest Fire Detection. <span class="text-muted"><br> With Realtime monitoring. </span></h2>
        <p class="lead"> With state-of-the-art technology, Mira offers an innovative and adaptable solution to fight forest fires.</p>
      </div>
      <img src="/static/img/carousel2test.jpg" class="img-fluid"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Power of Deep Learning. <span class="text-muted"><br>Speed and efficiency.</span></h2>
        <p class="lead">Powered by the powerful Tensorflow API using Keras, our Artificial Neural Network has a detection accuracy among the best on the market</p>
        <a class="btn btn-lg btn-outline-secondary" href="#">How it works</a>     
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/img/gif3.gif" class="img-fluid mx-auto" focusable="false" aria-label="Placeholder: 500x500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6">
        <h2 class="featurette-heading">An adaptable and modular solution. <span class="text-muted"><br>For every challenges.</span></h2>
        <p class="lead">Mira adapts and retrieves its information from any database. It then offers an intuitive and fluid interface for monitoring and organization. </p>
      </div>
      <div class="col-md-6">
          <img src="/static/img/web.png" class="img-fluid"   focusable="false" role="img" aria-label="Placeholder: 500x500">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>



<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2020-2020 MIRA &middot; Théophile Louvart &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</main>



  
{% endblock %}